header{
    background: aqua;
    line-height: 30px;
    text-align: center;
    color: black;
}
table{
    border-collapse: collapse;
    margin: auto;
}
table th {
    background: aqua;
}
table th,
table td{
    border: 1px solid;
    padding: 0 8px;
    line-height: 25px;
}
