<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ message }}</h1>

        <div v-if="people.length !== 0">
        <div v-for="person in people">
            <ul>
                <li>{{ person.name }}</li>
                <li>{{ person.email }}</li>
                <li>{{ person.address }}</li>
            </ul>
        </div>
        </div>
        <div v-else>There is no one here</div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
                el: '#app',
                data: {
                    message: 'List of people',
                    people: [
                        {
                            name: 'Muhamad',
                            email: 'muhamad@gmail.com',
                            address: 'Lala land'
                        }, 
                        { 
                            name: 'Othman', 
                            email: 'othman@gmail.com', 
                            address: 'Boba land' 
                        }, 
                        { 
                            name: 'Abdullah', 
                            email: 'abdullah@gmail.com', 
                            address: 'Tera land' 
                        }
                    ]
                }
            })
    </script>
</body>
</html>