<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue | Demo</title>
</head>
<body>
	<div id="app" v-if="status == 'tampilkan'">
		<h3>{{ message }}</h3>
		<p v-for="user in users">Nama: {{ user.name }}, umur: {{ user.age }}</p>
	</div>
	<script src="https://unpkg.com/vue@next"></script>
	<script>
		const App = {
			data() {
				return {
					message: "Hello world!",
					status: "tampilkan",
					users: [
						{
							name: "Eldyn",
							age: "23"
						},
						{
							name: "Mohammad",
							age: "24"
						},
						{
							name: "Qosim",
							age: "25"
						},
					]
				}
			}
		}

		Vue.createApp(App).mount('#app')

	</script>
</body>
</html>